# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# ChromaDB / Vector DB
chroma_db/
vector_store/

# Uploaded Files
uploads/